# See http://help.github.com/ignore-files/ for more about ignoring files.

.DS_Store
.idea/
.vscode
.claude
CLAUDE.md

# Compiled output
med-seg-frontend/dist
med-seg-frontend/tmp
med-seg-frontend/out-tsc
med-seg-frontend/bazel-out

# Node
med-seg-frontend/node_modules
med-seg-frontend/npm-debug.log
med-seg-frontend/yarn-error.log

# IDEs and editors
med-seg-frontend/.idea/
med-seg-frontend/.project
med-seg-frontend/.classpath
med-seg-frontend/.c9/
med-seg-frontend/*.launch
med-seg-frontend/.settings/
med-seg-frontend/*.sublime-workspace

# Visual Studio Code
med-seg-frontend/.vscode

# Miscellaneous
med-seg-frontend/.angular/cache
med-seg-frontend/.sass-cache/
med-seg-frontend/connect.lock
med-seg-frontend/coverage
med-seg-frontend/libpeerconnection.log
med-seg-frontend/testem.log
med-seg-frontend/typings

# System files
med-seg-frontend/.DS_Store
med-seg-frontend/Thumbs.db

med-seg-frontend/package-lock.json

# compiled output
med-seg-backend/dist
med-seg-backend/node_modules
med-seg-backend/build

# Logs
med-seg-backend/logs
med-seg-backend/*.log
med-seg-backend/npm-debug.log*
med-seg-backend/pnpm-debug.log*
med-seg-backend/yarn-debug.log*
med-seg-backend/yarn-error.log*
med-seg-backend/lerna-debug.log*

# OS
med-seg-backend/.DS_Store

# Tests
med-seg-backend/coverage
med-seg-backend/.nyc_output

# IDEs and editors
med-seg-backend/.idea
med-seg-backend/.project
med-seg-backend/.classpath
med-seg-backend/.c9/
med-seg-backend/*.launch
med-seg-backend/.settings/
med-seg-backend/*.sublime-workspace

# IDE - VSCode
med-seg-backend/.vscode/

# dotenv environment variable files
med-seg-backend/.env
med-seg-backend/.env.*
med-seg-backend/.env.development.local
med-seg-backend/.env.test.local
med-seg-backend/.env.production.local
med-seg-backend/.env.local

# temp directory
med-seg-backend/.temp
med-seg-backend/.tmp
med-seg-backend/temp/

# Database
med-seg-backend/*.db
med-seg-backend/*.sqlite
med-seg-backend/medseg.db

# Encryption key
med-seg-backend/medseg-encryption.key

# Runtime data
med-seg-backend/pids
med-seg-backend/*.pid
med-seg-backend/*.seed
med-seg-backend/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
med-seg-backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

med-seg-backend/package-lock.json
med-seg-backend/test-dataset.zip

med-seg-ml/.venv
med-seg-ml/*.zip
med-seg-ml/__pycache__