<div class="unet-visualizer-container">
  <canvas #canvas width="800" height="600"></canvas>
  <div class="legend">
    <div class="legend-item">
      <div class="legend-box encoder"></div>
      <span>Encoder (Downsampling)</span>
    </div>
    <div class="legend-item">
      <div class="legend-box decoder"></div>
      <span>Decoder (Upsampling)</span>
    </div>
    <div class="legend-item">
      <div class="legend-line skip"></div>
      <span>Skip Connections</span>
    </div>
  </div>
</div>
